SPRING_PROFILES_ACTIVE=CHANGE_ME
SERVER_PORT=CHANGE_ME
GATEWAY_REDIS_HOST=CHANGE_ME
GATEWAY_REDIS_PORT=CHANGE_ME
SPRING_DATA_REDIS_HOST=CHANGE_ME
SPRING_DATA_REDIS_PORT=CHANGE_ME
SPRING_DATA_REDIS_PASSWORD=CHANGE_ME
KATECH_GATEWAY_REVOCATION_REDIS_PASSWORD=CHANGE_ME
RABBITMQ_HOST=CHANGE_ME
RABBITMQ_PORT=CHANGE_ME
RABBITMQ_USERNAME=CHANGE_ME
RABBITMQ_PASSWORD=CHANGE_ME
SSO_URL=CHANGE_ME
IAM_URL=CHANGE_ME
INVOICE_URL=CHANGE_ME
NOTIFICATION_URL=CHANGE_ME
SUBSCRIPTIONS_URL=CHANGE_ME
ENTITLEMENT_URL=CHANGE_ME
PAYMENT_URL=CHANGE_ME
IAM_BASE_URL=CHANGE_ME
GATEWAY_AUTHZ_ENABLED=CHANGE_ME
KATECH_GATEWAY_CLIENT_ID=CHANGE_ME
KATECH_GATEWAY_CLIENT_SECRET=CHANGE_ME
GATEWAY_CORS_EXTRA_ORIGINS=CHANGE_ME
