SERVER_PORT=8080
SERVER_CONTEXT_PATH=/

DB_URL=jdbc:postgresql://localhost:5432/mydb
DB_USERNAME=postgres
DB_PASSWORD=postgres

JPA_DDL_AUTO=update
JPA_SHOW_SQL=true

KEYCLOAK_HOSTNAME=localhost
KEYCLOAK_HTTP_PORT=8080
KEYCLOAK_SERVER_URL=http://localhost:8080
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_REALM=example-realm
KEYCLOAK_CLIENT_ID=example-client
KEYCLOAK_CLIENT_SECRET=your-client-secret
JWT_ISSUER_URI=http://localhost:8080/realms/example-realm
JWT_JWK_SET_URI=http://localhost:8080/realms/example-realm/protocol/openid-connect/certs
SECURITY_KEYCLOAK_CLIENT_ID=example-client

KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USERNAME=keycloak
KEYCLOAK_DB_PASSWORD=keycloak
KEYCLOAK_DB_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:3000

SPRING_PROFILES_ACTIVE=dev

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_SECURITY_PROTOCOL=PLAINTEXT
KAFKA_SASL_MECHANISM=PLAIN
KAFKA_SASL_USERNAME=your-username
KAFKA_SASL_PASSWORD=your-password
USER_REGISTERED_TOPIC=user.registered
KAFKA_SSL_CA_CERT_PATH=./ca.pem