# Product Service environment variables
SERVER_PORT=8082

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_SECURITY_PROTOCOL=SASL_PLAINTEXT
KAFKA_SASL_MECHANISM=PLAIN
KAFKA_SASL_USERNAME=your_kafka_username
KAFKA_SASL_PASSWORD=your_kafka_password
USER_REGISTERED_TOPIC=user.registered

# Profiles (optional)
SPRING_PROFILES_ACTIVE=

# PostgreSQL
DB_URL=jdbc:postgresql://localhost:5433/productdb
DB_USERNAME=admin
DB_PASSWORD=password

# Product service
PRODUCT_SERVICE_URL=http://localhost:8082

# Keycloak / JWT
JWT_ISSUER_URI=http://localhost:8180/realms/ecommerce
JWT_JWK_SET_URI=http://localhost:8180/realms/ecommerce/protocol/openid-connect/certs

# Keycloak client
KEYCLOAK_RESOURCE=ecommerce-backend
KEYCLOAK_CLIENT_SECRET=CHANGE_ME

# Elasticsearch
ELASTICSEARCH_URIS=http://localhost:9200

# MinIO
MINIO_URL=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=ecommerce-products
