# Cart Service environment variables
SERVER_PORT=8083

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# PostgreSQL
DB_URL=jdbc:postgresql://localhost:5433/cart_db
DB_USERNAME=admin
DB_PASSWORD=password

# Product service
PRODUCT_SERVICE_URL=http://localhost:8082

# Keycloak / JWT
JWT_ISSUER_URI=http://localhost:8180/realms/ecommerce
JWT_JWK_SET_URI=http://localhost:8180/realms/ecommerce/protocol/openid-connect/certs
