SPRING_PROFILES_ACTIVE=CHANGE_ME
SERVER_PORT=CHANGE_ME
SPRING_DATASOURCE_URL=CHANGE_ME
SPRING_DATASOURCE_USERNAME=CHANGE_ME
SPRING_DATASOURCE_PASSWORD=CHANGE_ME
SPRING_DATA_REDIS_HOST=CHANGE_ME
SPRING_DATA_REDIS_PORT=CHANGE_ME
SPRING_DATA_REDIS_PASSWORD=CHANGE_ME
RABBITMQ_HOST=CHANGE_ME
RABBITMQ_PORT=CHANGE_ME
RABBITMQ_USERNAME=CHANGE_ME
RABBITMQ_PASSWORD=CHANGE_ME
KATECH_BOOTSTRAP_M2M_PRODUCT_ID=CHANGE_ME
KATECH_BOOTSTRAP_M2M_CLIENT_SECRET=CHANGE_ME
KATECH_BOOTSTRAP_UI_CLIENT_ID=CHANGE_ME
KATECH_PLATFORM_CLIENTS_BOOTSTRAP_UI_REDIRECT_URIS=CHANGE_ME
KATECH_PLATFORM_CLIENTS_BOOTSTRAP_UI_POST_LOGOUT_URIS=CHANGE_ME
IAM_BASE_URL=CHANGE_ME
ENTITLEMENT_BASE_URL=CHANGE_ME
KATECH_AUTH_DEFAULT_SUCCESS_URL=CHANGE_ME
KATECH_AUTH_ADMIN_UI_URL=CHANGE_ME
KATECH_AUTH_JWT_KID=CHANGE_ME
KATECH_AUTH_JWT_ISSUER=CHANGE_ME
KATECH_AUTH_JWT_PRIVATE_KEY=CHANGE_ME
KATECH_AUTH_JWT_PUBLIC_KEY=CHANGE_ME
KATECH_CORS_ENABLED=CHANGE_ME
DEPLOYMENT_MODE=CHANGE_ME
FEATURE_SELF_SERVICE=CHANGE_ME
FEATURE_SOCIAL_LOGIN=CHANGE_ME
FEATURE_MFA=CHANGE_ME
FEATURE_WEBHOOK=CHANGE_ME
FEATURE_DATA_EXPORT=CHANGE_ME
FEATURE_USER_IMPORT=CHANGE_ME
KATECH_AUTH_MAIL_FROM=CHANGE_ME
KATECH_AUTH_WEBAUTHN_ORIGIN=CHANGE_ME
SPRING_MAIL_HOST=CHANGE_ME
SPRING_MAIL_PORT=CHANGE_ME
SPRING_MAIL_SMTP_AUTH=CHANGE_ME
SPRING_MAIL_SMTP_STARTTLS_ENABLE=CHANGE_ME
SPRING_MAIL_SMTP_STARTTLS_REQUIRED=CHANGE_ME
