POSTGRES_PASSWORD=CHANGE_ME
PASSWORD=CHANGE_ME
REPLICATION_PASSWORD=CHANGE_ME
METRICS_PASSWORD=CHANGE_ME
KATECH_AUTH_DB_PASSWORD=CHANGE_ME
KATECH_IAM_DB_PASSWORD=CHANGE_ME
KATECH_PAYMENT_DB_PASSWORD=CHANGE_ME
KATECH_INVOICE_DB_PASSWORD=CHANGE_ME
KATECH_NOTIFICATION_DB_PASSWORD=CHANGE_ME
KATECH_SUBSCRIPTIONS_DB_PASSWORD=CHANGE_ME
KATECH_ENTITLEMENT_DB_PASSWORD=CHANGE_ME
