SERVER_PORT=8084

# Database
DB_HOST=localhost
DB_PORT=5433
DB_NAME=orderdb
DB_USER=admin
DB_PASSWORD=password

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Keycloak / OAuth2
KEYCLOAK_ISSUER_URI=http://localhost:8180/realms/ecommerce
KEYCLOAK_JWK_URI=http://localhost:8180/realms/ecommerce/protocol/openid-connect/certs

# Optional service URLs (used in prod profile)
CART_SERVICE_URL=http://prod-ecommerce-cart-service.ecommerce-cart-service.svc.cluster.local:8083
PRODUCT_SERVICE_URL=http://prod-ecommerce-product-service.ecommerce-product-service.svc.cluster.local:8082
USER_SERVICE_URL=http://prod-ecommerce-user-service.ecommerce-user-service.svc.cluster.local:8081
