PRODUCT_SERVICE_URL=http://localhost:8082
CART_SERVICE_URL=http://localhost:8083
ORDER_SERVICE_URL=http://localhost:8084
PAYMENT_SERVICE_URL=http://localhost:8085
AUTH_SERVICE_URL=http://localhost:8081
REVIEW_SERVICE_URL=http://localhost:8086
NOTIFICATION_SERVICE_URL=http://localhost:8087
SHIPPING_SERVICE_URL=http://localhost:8088
