SERVER_PORT=8080

DB_URL=jdbc:postgresql://localhost:5432/mydb
DB_USERNAME=postgres
DB_PASSWORD=postgres

SPRING_PROFILES_ACTIVE=dev

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_SECURITY_PROTOCOL=PLAINTEXT
KAFKA_SASL_MECHANISM=PLAIN
KAFKA_SASL_USERNAME=your-username
KAFKA_SASL_PASSWORD=your-password
USER_REGISTERED_TOPIC=user.registered
KAFKA_SSL_CA_CERT_PATH=./ca.pem

PRODUCT_SERVICE_URL=http://localhost:8082

JWT_ISSUER_URI=http://localhost:8080/realms/example-realm
JWT_JWK_SET_URI=http://localhost:8080/realms/example-realm/protocol/openid-connect/certs

# Optional service URLs (used in prod profile)
CART_SERVICE_URL=http://prod-ecommerce-cart-service.ecommerce-cart-service.svc.cluster.local:8083
PRODUCT_SERVICE_URL=http://prod-ecommerce-product-service.ecommerce-product-service.svc.cluster.local:8082
USER_SERVICE_URL=http://prod-ecommerce-user-service.ecommerce-user-service.svc.cluster.local:8081
