SPRING_PROFILES_ACTIVE=CHANGE_ME
SERVER_PORT=CHANGE_ME
SPRING_DATASOURCE_URL=CHANGE_ME
SPRING_DATASOURCE_USERNAME=CHANGE_ME
SPRING_DATASOURCE_PASSWORD=CHANGE_ME
SPRING_DATA_REDIS_HOST=CHANGE_ME
SPRING_DATA_REDIS_PORT=CHANGE_ME
SPRING_DATA_REDIS_PASSWORD=CHANGE_ME
RABBITMQ_HOST=CHANGE_ME
RABBITMQ_PORT=CHANGE_ME
RABBITMQ_USERNAME=CHANGE_ME
RABBITMQ_PASSWORD=CHANGE_ME
IAM_BOOTSTRAP_PLATFORM_ADMIN_SSO_USER_ID=CHANGE_ME
AUTH_SERVER_URL=CHANGE_ME
KATECH_AUTH_JWT_ISSUER=CHANGE_ME
AUTH_PRODUCT_ID=CHANGE_ME
KATECH_CORS_ENABLED=CHANGE_ME
